---
import Copyright from '@phosphor-icons/core/assets/regular/copyright.svg';
import LineVerticalBold from '@phosphor-icons/core/assets/bold/line-vertical-bold.svg';
import XBold from '@phosphor-icons/core/assets/bold/x-bold.svg';

import { getSiteConfig } from '@/config/site.config';

import type { PageContext } from '@/types/content';

interface Props {
  pageContext: PageContext;
}

const {
  pageContext,
} = Astro.props;

const config = getSiteConfig(pageContext.collection);

const currentYear = new Date().getFullYear();

const CustomFooter = config.footer;
---

<footer
  class="
    mt-3 border-t border-line bg-surface pt-3 text-center text-xs text-muted
  "
>
  <div class="flex flex-wrap items-center justify-center gap-1">
    <span class="flex items-center gap-1">
      <Copyright width="0.75rem" height="0.75rem" />
      <span>{currentYear}</span>
      <span>{config.title}</span>
    </span>
    <span>
      <LineVerticalBold width="1rem" height="1rem" />
    </span>
    <a
      href="https://astro.build"
      target="_blank"
      rel="noopener"
      class="
        text-muted
        hover:text-primary
      "
    >
      <span class="underline">Astro</span>
    </a>
    <span><XBold width="0.75rem" height="0.75rem" /></span>
    <a
      href="https://github.com/loliblogs/Refined"
      target="_blank"
      rel="noopener"
      class="
        text-muted
        hover:text-primary
      "
    >
      <span class="underline">Refined</span>
    </a>
    {CustomFooter && (
      <span>
        <LineVerticalBold width="1rem" height="1rem" />
      </span>
      <CustomFooter />
    )}
  </div>
</footer>
