---
import type { JSX } from 'react';

interface SocialLink {
  icon: () => JSX.Element;
  url: string;
  title?: string;
}

interface Props {
  links: SocialLink[];
}

const { links } = Astro.props;
---

{links.length > 0 && (
  <div class="mt-5">
    <div class="flex items-center justify-center">
      {links.map((link) => {
        const CustomIcon = link.icon;
        return (
          <a
            class={`
              mx-2 inline-block text-muted transition-colors duration-200
              hover:text-primary
            `}
            href={link.url}
            target="_blank"
            rel="noopener noreferrer"
            title={link.title}
            aria-label={link.title ?? link.url}
          >
            <div class={`
              transition-colors duration-200
              hover:text-primary
            `}
            >
              <CustomIcon />
            </div>
          </a>
        );
      })}
    </div>
  </div>
)}
